body {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(25, 50, 60);
  color: #fff;
  overflow: hidden;
  position: fixed;
  display: flex;
  height: 200px;
  width: 100%;
  align-items: center;
}

header .title {
  flex-basis: 70%;
  text-align: center;
  font-size: 34px;
  font-weight: 900;
}

nav.bar {
  background-color: rgb(30, 80, 80);
  height: 100px;
  width: 100%;
  overflow: hidden;
  position: fixed;
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

nav.bar ul {
  list-style-type: none;
}

nav.bar ul li {
  display: inline;
  margin-right: 40px;
}

.bar ul a {
  text-decoration-line: none;
  text-decoration-color: none;
  color: whitesmoke;
  font-size: 40px;
  font-weight: 600;
}

.story {
  padding-top: 400px;
  padding-left: 45px;
  padding-right: 45px;
}

footer {
  background-color: rgb(25, 50, 60);
  color: white;
  text-align: center;
  margin: 0px 0px;
}

}

p {
  font-family: 'Times New Roman', Times, serif;
  justify-content: center;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 530px;
  height: 545px;

}
.image{
  align-items: center;
  text-align: center;
  }

h3 {
  text-align: center;
}
